<?php

/*
 * The following config settings MUST be defined or set to the correct values.
 */
$username = "";					// the username to access the mysql server
$password = "";					// the password to access the mysql server
$dbname = "";					// the name of the database containing the whois table
$dimension = "";				// the dimension the users are on, needed to query the character informations
$dbserver = "localhost";		// the server the DB runs on, localhost in most cases
$tablename = "whois";			// the name of the whois table

/*
 * The following settings are commented out as they all got default values defined.
 * You only need to set them in the config file if you want to change them.
 * Setting them here to the default values doesn't break anything though.
 */
// $hours = 72;					// after how many hours without an update delete an existing entry?
								// used to get rid of stale entries of non-existing/no longer existing characters
//$delaytime = 10;				// seconds to wait after each parse step to stop any overload of the http server of FC
//$do_unorged_users = false;		// Set to true if you want to update all unorged characters in the whois cache too
								// WARNING: depending on the number of characters this may take quite a bit of time
								// You will almost certainly want to reduce $delaytime to 100, as only 10 queries every second will
								// be much to slow for large cache sizes.
//$delete_not_updated = false;	// Set to true if all users not updated for $hours hours should be wiped from cache
//$show_org_names = true;		// Should the names of the orgs which are currently updated be shown?
//$show_character_names = false;	// Should the names of the character that currently is updated be shown?
								// WARNING: On large caches this will create A LOT of output!
?>