.gitignore
*.zip
*.org
Conf/*.conf
Conf/*.ini
*.dll
php.*

.idea/workspace.xml
.idea/tasks.xml
*.iws

log/*
Themes/Default.colors.xml

Text/Rules.txt
Text/Recruit.txt
Custom/Core/*
Custom/Modules/*

Extras/History/*